/* styles.css */

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
}

h2 {
    color: #555;
    font-size: 24px;
}

/* Estilo para botones */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el input */
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para recomendaciones */
#recomendations {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    input[type="number"] {
        font-size: 14px;
        padding: 8px;
    }
}
